<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>
        <%= user.username %>'s Referrals
    </title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="title">
        <h1>
            <%= user.name.firstName %>'s Referrals
        </h1>
        <h4>
            <i>Click on any name below for more details.</i>
        </h4>
    </div>

    <div>
        <ul>
            <% user.referrals.forEach((referral)=> { %>
                <li>
                    <p><a href="/users/<%= user._id %>/referrals/<%= referral._id %>"><%= referral.name.firstName %> <%= referral.name.lastName %> (DOB: <%= referral.birthday.toISOString().split('T')[0] %>)</a></p>
                </li>
            <% }); %>
        </ul>
    </div>

    <div class="button">
        <button type="button" class="button" onclick="window.location.href='/users'">Team Referrals</button>
    </div>
</body>

<footer>
</footer>

</html>