<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>
        <%= user.username %>'s Referrals
    </title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="title">
        <!-- insert icon -->
        <h1>
            <%= user.username %>'s Referrals
        </h1>
    </div>

    <div>
        <ul>
            <% user.referrals.forEach((referral)=> { %>
                <li>
                    <p><a href="/views/users/show.ejs"><%= referral.name.firstName %> <%= referral.name.lastName %> (DOB: <%= referral.birthday.toISOString().split('T')[0] %>)</a></p>
                </li>
            <% }); %>
        </ul>
    </div>
</body>

</html>