<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Complete Intake</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="title">
        <img src="/images/english-ivy.png" alt="">
        <h1>Complete an Intake</h1>
    </div>

        <div>
            <p>
                Name:
                <%= referral.name.firstName %>
                    <%= referral.name.lastName %>
            </p>
            <p>
                DOB: <%= referral.birthday.toISOString().split('T')[0] %>
            </p>
        </div>

        <form action="/users/<%= user._id %>/referrals/<%= referral._id %>?_method=PUT" method="POST">

            <fieldset>
                <legend>Enter info below:</legend>

                <div>
                    <label for="intakeCompleted">Intake completed:</label>
                    <input type="checkbox" name="intakeCompleted" id="intakeCompleted" />
                </div>

                <div class="button">
                    <button type="submit" class="button">Close Referral</button>
                </div>

            </fieldset>
        </form>

</body>

<footer>
    <a href="https://www.flaticon.com/free-icons/plant" title="plant icons">Plant icons created by surang.</a>
</footer>

</html>