<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Edit Referral</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Edit</h1>

    <form action="/users/<%= user._id %>/referrals/<%= referral._id %>?_method=PUT" method="POST">

        <fieldset>
            <legend>Enter info:</legend>
            <div>
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" pattern="\D" value="<%= referral.name %>">
            </div>

            <div>
                <label for="birthday">Birthday:</label>
                <input type="date" name="birthday" id="birthday" value="<%= referral.birthday %>">
            </div>
                    
            <button type="submit">Update</button>

        </fieldset>


    </form>
</body>

</html>