<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Edit Referral</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="title">
        <img src="/images/zamioculcas.png" alt="">
        <h1>Edit</h1>
    </div>

    <div>
        <p>
            Name: 
            <%= referral.name.firstName %>
            <%= referral.name.lastName %>
        </p>

        <p>DOB: <%= referral.birthday.toISOString().split('T')[0] %></p>
    </div>

    <form action="/users/<%= user._id %>/referrals/<%= referral._id %>?_method=PUT" method="POST">

        <fieldset>
            <legend>Enter info:</legend>
            <div>
                <label for="firstName">Last name:</label>
                <input type="text" name="firstName" id="firstName" pattern="[A-Za-zÀ-ÿa-zA-Z\s-'–]+" value="<%= referral.name.firstName %>">
            </div>

            <div>
                <label for="lastName">First name:</label>
                <input type="text" name="lastName" id="lastName" pattern="[A-Za-zÀ-ÿa-zA-Z\s-'–]+" value="<%= referral.name.lastName %>">
            </div>

            <div>
                <label for="birthday">Birthday:</label>
                <input type="date" name="birthday" id="birthday" value="<%= referral.birthday.toISOString().split('T')[0] %>">
            </div>
            
            <div class="button">
                <button type="submit" class="button">Save Referral</button>
            </div>
        </fieldset>


    </form>
</body>

<footer>
    <a href="https://www.flaticon.com/free-icons/plant" title="house plant icons" target="_blank">Plant icons created by surang.</a>
</footer>

</html>