<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CareTrack</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>

        <div class="search-card">
            <form class="search" action="/referrals/search" method="GET">
                <div class="search-bar">
                    <input class="bar" type="text" placeholder="First name" name="firstName">
                    <input class="bar" type="text" placeholder="Last name" name="lastName">
                    <input class="bar" type="date" placeholder="DOB" name="dob">
                    <button class="button-secondary"><i>Search</i></button>
                </div>
            </form>
        </div>

        <fieldset class="form-card">
            <legend><i class="fa-solid fa-magnifying-glass"></i> Search Results</legend>

            <% if (referrals.length===0) { %>
                <p>No referrals found.</p>
                <% } else { %>
                    <div class="results-header">
                        <span>First Name</span>
                        <span>Last Name</span>
                        <span>Date of Birth</span>
                    </div>

                    <% referrals.forEach(referral=> { %>
                        <a class="results-row link-row" href="/users/<%= user._id %>/referrals/<%= referral._id %>">
                            <span>
                                <%= referral.name.firstName %>
                            </span>
                            <span>
                                <%= referral.name.lastName %>
                            </span>
                            <span>
                                <%= referral.birthday.toISOString().split('T')[0] %>
                            </span>
                        </a>
                        <% }) %>
                            <% } %>
        </fieldset>

        <div class="form-button-container">
            <a href="/">
                <button class="button-secondary">Back Home</button>
            </a>
        </div>

</body>

</html>