<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Referral</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="title">
        <img src="/images/golden-pothos.png" alt="">
        <h1>Referrals</h1>
    </div>

    <div id="referrals">
        <h3>Active Referrals:</h3>
        <ul>
            <% referrals.forEach((referral)=> { %>
                <% if (!referral.intakeCompleted) { %>
                    <li>
                        <a href="/users/<%= user._id %>/referrals/<%= referral._id %>">
                            <%= referral.name.firstName %>
                                <%= referral.name.lastName %>
                        </a>
                    </li>
                <% } %>
            <% }); %>
        </ul>

        <h3>Closed Referrals:</h3>
        <ul>
            <% referrals.forEach((referral)=> { %>
                <% if (referral.intakeCompleted) { %>
                    <li>
                        <a href="/users/<%= user._id %>/referrals/<%= referral._id %>">
                            <%= referral.name.firstName %>
                                <%= referral.name.lastName %>
                        </a>
                    </li>
                <% } %>
            <% }); %>
        </ul>
    </div>
    
</body>

<footer>
    <a href="https://www.flaticon.com/free-icons/plant" title="house plant icons" target="_blank">Plant icons created by surang.</a>
</footer>

</html>