<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Referral</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Referrals</h1>

    <h3>Active Referrals:</h3>
    <ul>
        <% referrals.forEach((referral) => { %>
            <% if (!referral.intakeCompleted) { %>
                <ul>
                    <li>
                        <a href="/users/<%= user._id %>/referrals/<%= referral._id %>">
                            <%= referral.name %>
                        </a>
                    </li>
                </ul>
            <% } %>
        <% }); %>
    </ul>

    <h3>Closed Referrals:</h3>
    <ul>
        <% referrals.forEach((referral)=> { %>
            <% if (referral.intakeCompleted) { %>
                <ul>
                    <li>
                        <a href="/users/<%= user._id %>/referrals/<%= referral._id %>">
                            <%= referral.name %>
                        </a>
                    </li>
                </ul>
            <% } %>
        <% }); %>
    </ul>

</body>

</html>