<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>My Referrals</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>

    <div>
        <form class="search" action="/users/:userId/referrals/search" method="GET">
            <input class="bar" type="text" placeholder="First name" name="firstName">
            <input class="bar" type="text" placeholder="Last name" name="lastName">
            <input class="bar" type="date" placeholder="DOB" name="dob">
            <button><i>Search</i></button>
        </form>
    </div>
    
    <div id="referrals">
        <h2>Active Referrals:</h2>
        <ul>
            <% referrals.forEach((referral)=> { %>
                <% if (!referral.intakeCompleted) { %>
                    <li>
                        <a href="/users/<%= user._id %>/referrals/<%= referral._id %>">
                            <%= referral.name.firstName %>
                            <%= referral.name.lastName %>
                        </a>
                    </li>
                <% } %>
            <% }); %>
        </ul>

        <h2>Closed Referrals:</h2>
        <ul>
            <% referrals.forEach((referral)=> { %>
                <% if (referral.intakeCompleted) { %>
                    <li>
                        <a href="/users/<%= user._id %>/referrals/<%= referral._id %>">
                            <%= referral.name.firstName %>
                            <%= referral.name.lastName %>
                        </a>
                    </li>
                <% } %>
            <% }); %>
        </ul>
    </div>

</body>

<footer>
</footer>

</html>