<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Confirm Insurance</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
        <h1>Confirm Insurance</h1>

        <div>
            <p>Name: <%= referral.name %></p>
            <p>DOB: <%= referral.birthday.toLocaleDateString('en-US') %></p>
        </div>
    
        <form action="/users/<%= user._id %>/referrals/<%= referral._id %>?_method=PUT" method="POST">

            <fieldset>
                <legend>Enter info below:</legend>
                
                <div>
                    <label for="insurance">Insurance:</label>
                    <select id="insurance" name="insurance" required>
                        <option value="kaiser">Kaiser</option>
                        <option value="medicaid">Medicaid</option>
                        <option value="optum">Optum</option>
                        <option value="pacificsource">PacificSource</option>
                        <option value="regence">Regence</option>
                        <option value="unknown">Unknown</option>
                    </select>
                </div>

                <div>
                    <label for="insuranceConfirmed">Confirmed:</label>
                    <input type="checkbox" name="insuranceConfirmed" id="insuranceConfirmed"/>
                </div>

                <div>
                    <label for="dateInsuranceConfirmed">Date confirmed:</label>
                    <input type="date" name="dateInsuranceConfirmed" id="dateInsuranceConfirmed">
                </div>

                <button type="submit">Update</button>

            </fieldset>
        </form>
</body>

</html>