<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Confirm Insurance</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>

    <div>
        <p>
            Name:
            <%= referral.name.firstName %>
            <%= referral.name.lastName %>
        </p>
        <p>
            DOB: <%= referral.birthday.toISOString().split('T')[0] %>
        </p>
    </div>

    <form action="/users/<%= user._id %>/referrals/<%= referral._id %>?_method=PUT" method="POST">

        <fieldset>
            <legend>Enter info below:</legend>

            <div>
                <label for="insurance">Insurance:</label>
                <select id="insurance" name="insurance" required>
                    <option value="unknown" <%=referral.insurance==='unknown' ? 'selected' : '' %>>Unknown</option>
                    <option value="kaiser" <%=referral.insurance==='kaiser' ? 'selected' : '' %>>Kaiser</option>
                    <option value="medicaid" <%=referral.insurance==='medicaid' ? 'selected' : '' %>>Medicaid</option>
                    <option value="optum" <%=referral.insurance==='optum' ? 'selected' : '' %>>Optum</option>
                    <option value="pacificsource" <%=referral.insurance==='pacificsource' ? 'selected' : '' %>>PacificSource</option>
                    <option value="regence" <%=referral.insurance==='regence' ? 'selected' : '' %>>Regence</option>
                    <option value="other" <%=referral.insurance==='other' ? 'selected' : '' %>>Other</option>
                </select>
            </div>

            <div>
                <label for="insuranceConfirmed">Confirmed:</label>
                <input type="checkbox" name="insuranceConfirmed" id="insuranceConfirmed" <%=referral.insuranceConfirmed ? 'checked' : '' %>/>
            </div>

            <div>
                <label for="dateInsuranceConfirmed">Date confirmed:</label>
                <input type="date" name="dateInsuranceConfirmed" id="dateInsuranceConfirmed" value="<%= referral.dateInsuranceConfirmed ? new Date(referral.dateInsuranceConfirmed).toISOString().split('T')[0] : '' %>">

            </div>

            <div class="button">
                <button type="submit" class="button">Confirm Insurance</button>
            </div>

        </fieldset>

    </form>

</body>

<footer>
</footer>

</html>