<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Schedule Intake</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="title">
        <img src="/images/spider-plant.png" alt="">
        <h1>Schedule Intake</h1>
    </div>

    <div>
        <p>
            Name:
            <%= referral.name.firstName %>
            <%= referral.name.lastName %>
        </p>
        <p>
            DOB: <%= referral.birthday.toISOString().split('T')[0] %>
        </p>
    </div>

    <form action="/users/<%= user._id %>/referrals/<%= referral._id %>?_method=PUT" method="POST">

        <fieldset>
            <legend>Enter info below:</legend>

            <div>
                <label for="intakeScheduled">Intake scheduled:</label>
                <input type="checkbox" name="intakeScheduled" id="intakeScheduled" />
            </div>

            <div>
                <label for="intakeDate">Intake date:</label>
                <input type="date" name="intakeDate" id="intakeDate">
            </div>
            
            <div  class="button">
                <button type="submit">Schedule Intake</button>
            </div>
        </fieldset>
    </form>

</body>

<footer>
    <a href="https://www.flaticon.com/free-icons/plant" title="plant icons">Plant icons created by surang.</a>
</footer>

</html>