<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Schedule Intake</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="title">
        <img src="/images/spider-plant.png" alt="Minimalist illustration of a potted spider plant.">
        <h1>Schedule Intake</h1>
    </div>

    <div>
        <p>
            Name:
            <%= referral.name.firstName %>
            <%= referral.name.lastName %>
        </p>
        <p>
            DOB: <%= referral.birthday.toISOString().split('T')[0] %>
        </p>
    </div>

    <form action="/users/<%= user._id %>/referrals/<%= referral._id %>?_method=PUT" method="POST">

        <fieldset>
            <legend>Enter info below:</legend>

            <div>
                <label for="intakeScheduled">Intake scheduled:</label>
                <input type="checkbox" name="intakeScheduled" id="intakeScheduled" <%= referral.intakeScheduled ? 'checked' : '' %>/>
            </div>

            <div>
                <label for="intakeDate">Intake date:</label>
                <!-- there was a bug when data hadn't been entered and it was trying to render it on the page. i reformatted the value fields when dates are being used because the error was about toISOString. new Date(referral.dateInsuranceConfirmed) converts the value of referral.dateInsuranceConfirmed to a date object. if referral.dateInsuranceConfirmed is already a valid date object or a string that can be parsed into one, this works fine. -->
                <input type="date" name="intakeDate" id="intakeDate" value="<%= referral.intakeDate ? new Date(referral.intakeDate).toISOString().split('T')[0] : '' %>">
            </div>
            
            <div class="button">
                <button type="submit">Schedule Intake</button>
            </div>
        </fieldset>
    </form>

</body>

<footer>
    <a href="https://www.flaticon.com/free-icons/plant" title="house plant icons" target="_blank">Plant icons created by surang.</a>
</footer>

</html>