<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Schedule Intake</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
        <h1>Schedule an Intake</h1>

    <div>
        <p>Name: <%= referral.name %></p>
        <p>DOB: <%= referral.birthday.toLocaleDateString('en-US') %></p>
    </div>

    <form action="/users/<%= user._id %>/referrals/<%= referral._id %>?_method=PUT" method="POST">

        <fieldset>
            <legend>Enter info below:</legend>

            <div>
                <label for="intakeScheduled">Intake scheduled:</label>
                <input type="checkbox" name="intakeScheduled" id="intakeScheduled" />
            </div>

            <div>
                <label for="intakeDate">Intake date:</label>
                <input type="date" name="intakeDate" id="intakeDate">
            </div>

            <button type="submit">Schedule</button>

        </fieldset>
    </form>

</body>

</html>