<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>View Referral</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="title">
        <% if (referral.name.firstName && referral.insuranceConfirmed && referral.intakeScheduled && referral.intakeCompleted) { %>
            <img src="/images/urn-plant.png" alt="Minimalist illustration of a potted urn plant.">
            <h1>
                <%= referral.name.firstName %>
                    <%= referral.name.lastName %>
            </h1>
        <% } else { %>
            <img src="/images/aloe-vera.png" alt="aloe vera plant">
            <h1>
                <%= referral.name.firstName %>
                <%= referral.name.lastName %>
            </h1>
        <% } %>
    </div>

    <div>
        <p >
            <b>First name:</b>&nbsp;<%= referral.name.firstName %>
        </p>

        <p>
            <b>Last name:</b>&nbsp;<%= referral.name.lastName %>
        </p>
        <p><b>DOB:</b>&nbsp;<%= referral.birthday.toISOString().split('T')[0] %></p>
    </div>

    <div>
        <% if (referral.insurance) { %>
            <p><b>Insurance:</b>&nbsp;<%= referral.insurance.charAt(0).toUpperCase() + referral.insurance.slice(1); %> confirmed <%=referral.dateInsuranceConfirmed.toISOString().split('T')[0]; %></p>
        <% } %>
    </div>

    <div>
        <% if (referral.intakeScheduled) { %>
            <p><b>Intake:</b>&nbsp;<%= referral.intakeDate.toISOString().split('T')[0] %></p>
        <% } %>
    </div>

    <div>
        <% if (referral.intakeCompleted) { %>
                <p><i>Intake was completed, <%= referral.name.firstName %> admitted to the program, and the referral was closed.</i></p>
        <% } %>
    </div>

    <% if (referral.name.firstName && referral.insuranceConfirmed && referral.intakeScheduled && referral.intakeCompleted) { %>
        <!-- do not display buttons -->
    <% } else if (referral.name.firstName && referral.insuranceConfirmed && referral.intakeScheduled) { %>
        <div class="button">
            <form action="/users/<%= user._id %>/referrals/<%= referral._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete Referral</button>
            </form>
            
            <form action="/users/<%= user._id %>/referrals/<%= referral._id %>/edit" method="GET">
                <button type="submit">Edit Profile</button>
            </form>
            
            <form action="/users/<%= user._id %>/referrals/<%= referral._id %>/insurance" method="GET">
                <button type="submit">Update Insurance</button>
            </form>

            <form action="/users/<%= user._id %>/referrals/<%= referral._id %>/schedule" method="GET">
                <button type="submit">Reschedule Intake</button>
            </form>
            
            <form action="/users/<%= user._id %>/referrals/<%= referral._id %>/complete" method="GET">
                <button type="submit">Complete Intake</button>
            </form>
        </div>
    <% } else if (referral.name.firstName && referral.insuranceConfirmed) { %>
        <div class="button">
            <form action="/users/<%= user._id %>/referrals/<%= referral._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete Referral</button>
            </form>
            
            <form action="/users/<%= user._id %>/referrals/<%= referral._id %>/edit" method="GET">
                <button type="submit">Edit Profile</button>
            </form>
            
            <form action="/users/<%= user._id %>/referrals/<%= referral._id %>/insurance" method="GET">
                <button type="submit">Update Insurance</button>
            </form>
            
            <form action="/users/<%= user._id %>/referrals/<%= referral._id %>/schedule" method="GET">
                <button type="submit">Schedule Intake</button>
            </form>
        </div>
    <% } else { %>
        <div class="button">
            <form action="/users/<%= user._id %>/referrals/<%= referral._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete Referral</button>
            </form>
            
            <form action="/users/<%= user._id %>/referrals/<%= referral._id %>/edit" method="GET">
                <button type="submit">Edit Profile</button>
            </form>
            
            <form action="/users/<%= user._id %>/referrals/<%= referral._id %>/insurance" method="GET">
                <button type="submit">Confirm Insurance</button>
            </form>
        </div>
    <% } %>

</body>

<footer>
    <a href="https://www.flaticon.com/free-icons/plant" title="house plant icons" target="_blank">Plant icons created by surang.</a>
</footer>

</html>