<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Referral Overview</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= referral.name %></h1>

    <div>
        <p>Name: <%= referral.name %> </p>
        <!-- Date change to day before per stack overflow: All of this is due to the behavior of the underlying Date.parse() trying to follow ISO 8601. When the date string follows the yyyy-mm-dd format, it's assumed to be ISO 8601 with implicit UTC 00:00. When the string deviates from the format (e.g. mm-dd-yyyy or slash instead of hyphen), it falls back to the looser parser according to RFC 2822 which uses local time when the timezone is absent.  -->
        <!-- okay this still doesn't work (it still shows a day before the date entered). but i need to take a break from dealing with dates and move back to meeting MVP. -->
        <p>DOB: <%= referral.birthday.toLocaleDateString('en-US') %></p>
    </div>

    <!-- if insurance has been entered for the selected referral, it will populate on the page. otherwise, it will not show any insurance information. -->
    <!-- insurance is lowercase because of enum/camel case, so in the show page i've added 'referral.insurance.charAt(0).toUpperCase() + referral.insurance.slice(1);' to make the first letter capital. this doesnt fix pacsrc though. is there a better way of doing this? it seems like there should be a way other than hardcoding it every single time 'insurance' is shown on the page... -->
    <div>
        <% if (referral.insurance) { %>
            <p>Insurance: <%= referral.insurance.charAt(0).toUpperCase() + referral.insurance.slice(1); %></p>
        <% } %>
    </div>

    <div>
        <% if (referral.insuranceConfirmed) { %>
            <p><%= referral.insurance.charAt(0).toUpperCase() + referral.insurance.slice(1); %> was confirmed on <%= referral.dateInsuranceConfirmed.toLocaleDateString('en-US'); %>.</p>
        <% } else { %>
            <p>Insurance has not been confirmed.</p>
        <% } %>
    </div>

    <div>
        <% if (referral.intakeScheduled) { %>
            <p>Intake is scheduled to occur on <%= referral.intakeDate.toLocaleDateString('en-US') %>.</p>
        <% } else { %>
            <p>Intake has not been scheduled.</p>
        <% } %>
    </div>

    <div>
        <% if (referral.intakeCompleted) { %>
            <p>Intake was completed on <%= referral.intakeDate.toLocaleDateString('en-US') %>.</p>
        <% } else { %>
            <p>Intake has not been completed.</p>
        <% } %>
    </div>

    <div>
        <!-- always available -->
        <!-- delete button -->
        <form action="/users/<%= user._id %>/referrals/<%= referral._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete Referral</button>
        </form>
        
        <!-- edit button -->
        <form action="/users/<%= user._id %>/referrals/<%= referral._id %>/edit" method="GET">
            <button type="submit">Edit Referral</button>
        </form>

        <!-- confirm insurance button -->
        <form action="/users/<%= user._id %>/referrals/<%= referral._id %>/insurance" method="GET">
            <button type="submit">Confirm Insurance</button>
        </form>

        <!-- only available if... -->
        
        <% if (referral.insuranceConfirmed) { %>
            <form action="/users/<%= user._id %>/referrals/<%= referral._id %>/schedule" method="GET">
                <button type="submit">Schedule Intake</button>
            </form>
        <% } %>

        <% if (referral.intakeScheduled) { %>
            <form action="/users/<%= user._id %>/referrals/<%= referral._id %>/complete" method="GET">
                <button type="submit">Complete Intake</button>
            </form>
        <% } %>

        <!-- right now this just deletes the referral, but phase II includes making this another edit/update route (see trello) -->
        <% if (referral.intakeCompleted) { %>
            <form action="/users/<%= user._id %>/referrals/<%= referral._id %>?_method=DELETE" method="POST">
                <button type="submit">Close Referral</button>
            </form>
        <% } %>

    </div>
</body>
</html>