<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Referral Overview</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= referral.name %></h1>

    <div>
        <p>Name: <%= referral.name %> </p>
        <p>DOB: <%= referral.birthday %></p>
        <p>Insurance: <%= referral.insurance %></p>
        
        <!-- always available -->
        
        <!-- edit button -->
        <form action="/users/<%= user._id %>/referrals/<%= referral._id %>/edit" method="GET">
            <button type="submit">Edit Referral</button>
        </form>

        <!-- confirm insurance button -->
        
        <!-- delete button -->
        <form action="/users/<%= user._id %>/referrals/<%= referral._id %>?_method=DELETE" method="POST">
            <button type="submit">Close Referral</button>
        </form>

        <!-- only available if... -->
        
        <!-- totally not tested yet!! -->
        <% if (referral.insuranceConfirmed) { %>
            <p>there will be a "schedule intake" button here</p>
            <!-- schedule intake button -->
        <% } %>

        <% if (referral.intakeScheduled) { %>
            <p>there will be a "complete intake" button here</p>
            <!-- complete intake button -->
        <% } %>

        <% if (referral.intakeCompleted) { %>
            <p>there will be a "close referral" button here</p>
            <!-- close referral (delete) button -->
            <% } %>

    </div>
</body>
</html>